In [9]:
import pandas as pd
df1=pd.DataFrame({
    'name':['mohit','rohit','rajat','vishal'],
    'age':[23,24,25,26],
    'money':[100,120,145,50]
})
print(df1)

     name  age  money
0   mohit   23    100
1   rohit   24    120
2   rajat   25    145
3  vishal   26     50

In [11]:
#save dataframe as csv file
df1.to_csv('sampledata.csv',sep=';')

In [12]:
df1=pd.read_csv('sampledata.csv')
df1

  ;name;age;money
0  0;mohit;23;100
1  1;rohit;24;120
2  2;rajat;25;145
3  3;vishal;26;50

In [13]:
print(df1.T)

                              0               1               2  \
;name;age;money  0;mohit;23;100  1;rohit;24;120  2;rajat;25;145

                              3
;name;age;money  3;vishal;26;50

In [15]:
print(df1.axes)

[RangeIndex(start=0, stop=4, step=1), Index([';name;age;money'], dtype='object')]

In [17]:
print(df1.dtypes)

;name;age;money    object
dtype: object

In [19]:
print(df1.shape)

(4, 1)